/*Importation de la police personnalisée FontAwesome pour pouvoir utiliser des icônes*/
@font-face {
  font-family: FontAwesome;
  src: url(https://kit.fontawesome.com/9c8c1704d1.js);
}

/*Utilisation de la police Shrikhand pour le logo et les titres */

/*Utilisation de la police Roboto pour le texte, ainsi que trois polices de substitution */

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*Définition des principaux styles utilisés avec la police Roboto*/

/*Utilisation de l'unité relative em pour adapter la taille du texte à partir de la taille de référence de 16px utilisée par les navigateurs */

h1 {
  font-size: 1.375em; /*22px / 16px */
}

h2 {
  font-size: 1.1875em; /*19px / 16px */
}

h3 {
  font-size: 0.875em; /*14px / 16px */
}

p {
  font-size: 0.75em; /*12px / 16px */
}

li {
  font-size: 0.8125em; /*13px / 16px */
}

/*Définition des couleurs de la charte*/
:root {
  --purple: #9356dc;
  --pink: #ff79da;
  --green: #99e2d0;
}

/*Les liens ne sont pas soulignés*/
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/*Le body a la propriété box-sizing et une hauteur de viewport de 100vh*/
body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: Raleway, arial, sans-serif;
  color: black;
}

/*La div principale de la page est transformée en container flex et ses éléments sont centrés*/
#bloc-page {
  max-width: 640px;
  margin: 0 auto;
}
