@import "./base/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./font-awesome/fontawesome.scss";

body {
  font-family: $fontFamily;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  font-size: 1rem;
  


  #bloc-page {
    max-width: 767px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.photo-card-restaurant {
  display: flex;
}

.photo-card-restaurant img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@include spinner;
@include headerLogo;
@include nomRestaurant;
@include coeur;
@include titreH2Menu;
@include cardMenu;
@include slideMenu;
@include boutonCommander;
@include footer;
@include liens;
