@import "./base/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./font-awesome/fontawesome.scss";

body {
  font-family: $fontFamily;
  box-sizing: border-box;
  min-height: 100vh;

  #page-accueil-container {
    max-width: 667px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}



header {
  width: 100%;
  text-align: center;

  .logo-ohmyfood {
    font-family: $fontFamilyLogo;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}


.page-accueil-bloc-header {
  display: flex;
  flex-direction: column;
  background-color: $backgroundGris;

  .page-accueil-onglet-localisation {
    display: flex;
    justify-content: center;
    background-color: $backgroundGrisFonce;
    box-shadow: inset 0px 2px 0px 0px #c6c6c6;
    padding: 8px;
  }
}

.form-localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.form-localisation input {
  padding: 10px 0;
  border: none;
  background-color: $backgroundGrisFonce;
  text-align: left;
  font-weight: bold;
}

input::placeholder {
  color: black;
  font-weight: 700;
}

i.fas.fa-map-marker-alt::before {
  margin-right: 20px;
}

.page-accueil-header-texte {
  background-color: $backgroundGris;
  padding: 20px;
  text-align: center;
}

.form-button-choix-restaurants input {
  background: linear-gradient(lighten($secondary, 1%), $primary);
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  margin-bottom: 40px;
  box-shadow: 3px 3px 3px 0px #c7c7c7ff;
}

.form-button-choix-restaurants input:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 3px 0px #c7c7c79a;
  cursor: pointer;
}

.page-accueil-bloc-fonctionnement ul li {
  background-color: $backgroundGris;
  padding: 25px 15px 20px 0;
  border-radius: 25px;
  border: none;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 0 #e2e2e2;
}

ul.fa-ul {
  margin-left: 20px;
}

ul span {
  font-size: 1.1em;
  font-weight: 700;
}

ul.fa-ul li:hover {
  background-color: (lighten($primary, 30%));
  opacity: 0.5;
}

.fa-ul a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

span.fa-stack {
  position: absolute;
  top: 37px;
  left: 3px;
  transform: translate(-50%, -50%);
}

i.fas.fa-circle.fa-stack-1x {
  font-size: 1.5em;
  color: rgb(147, 86, 220);
  padding-left: 0;
  vertical-align: middle;
}

i.fas.fa-mobile-screen-button::before,
i.fas.fa-list-ul::before,
i.fas.fa-store::before {
  font-size: 1.2em;
  margin-left: 38px;
  margin-right: 26px;
}
i.fas.fa-mobile-screen-button:hover,
i.fas.fa-list-ul:hover,
i.fas.fa-store:hover {
  color: $primary;
}

h1 {
  font-family: $fontFamily;
  font-size: $font-size-h1;
}

h2 {
  margin-left: 10px;
}

#page-accueil-section-restaurants {
  background-color: $backgroundGris;
  padding: 20px;
}

.liste-restaurants1-2, .liste-restaurants3-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LaPaletteDuGout,
.LaNoteEnchantee,
.ALaFrancaise,
.LeDeliceDesSens {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

.LeDeliceDesSens {
  margin-bottom: 50px;
}

.LaNoteEnchantee .photo-card-restaurant img {
  object-position: center;
}

.card-bloc-restaurant {
  display: flex;
  flex-direction: column;
}

.photo-card-restaurant {
  display: flex;
  position: relative;
  justify-content: center;
}

.photo-card-restaurant img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px 20px 0 0;
}

.texte-image {
  position: absolute;
  background-color: $tertiary;
  color: green;
  top: 10px;
  right: 5px;

  margin-right: 7px;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px 0px;
  font-weight: 100;
}

.texte-image h4 {
  margin-top: 8px;
  margin-bottom: 6px;
}

.data-card-bloc-restaurant {
  padding: 0 20px 0 15px;
  box-shadow: 3px 3px 3px 0 #ecececff;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

.data-card-bloc-restaurant h3 {
  margin-bottom: 0;
}

.data-card-bloc-restaurant p {
  margin-top: 3px;
}

.nom-restaurant-et-coeur {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.coeur i {
  color: black;
  font-size: 26px;
}

.coeur i:hover {
  cursor: pointer;
  font-weight: bold;
  background-clip: content-text;
  fill: linear-gradient(#ff79da, #9356dc);
  animation: coeur 3s ease forwards;
}

@keyframes coeur {
  0% {
    font-weight: 900;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.1;
  }
  100% {
    font-weight: 900;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


@include spinner;
@include liens;
@include footer;
