//COULEURS

//couleur des boutons et des coeurs : un mélange de rouge et de bleu

$colorRed : rgb(255, 0, 0);
$colorBlue : rgb(0, 0, 255);


@function
mix($colorRed, $colorBlue,$weight:75%)

//ce qui donne $colorButton : #cc0033


//lighten couleur des boutons 
color : color-scale ($colorButton, $lightness: + 10%) 


//couleur initiale des boutons : 
linear-gradient(lighten($colorButton, 1%), $primary)
