$fontFamily : Roboto, Arial, Helvetica, sans-serif;
$fontFamilyLogo : Shrikhand;

$font-size-h1 : 1.8rem;
$font-size-h2 : 1.7rem;
$font-size-h3 : 0.9rem;
$font-size-p : 1.1rem;

$primary : rgb(147,86,220);
$secondary : rgb(255,121,218);
$tertiary : rgb(153,226,208);
$backgroundGris : #F6F6F6;;
$backgroundGrisFonce : #EAEAEAFF;
$backgroundFooter: #3D413F;

$colorButton : linear-gradient(rgb(255,121,218), rgb(147,86,220));
$colorRed : rgb(255, 0, 0);
$colorBlue : rgb(0, 0, 255);
$colorMauve : rgb(128, 0, 128);
$colorBrique : rgb(178, 34, 34);
$colorCrimson : rgb(220, 20, 60);
$colorFuschia : rgb(255,0,255);
$colorIndianRed : rgb(205,92,92);
$colorHoverCoeur : rgb(218, 15, 218, 0.8);







 

