$fontFamily : Roboto, Arial, Helvetica, sans-serif;
$fontFamilyTitres : Shrikhand;

$font-size-h1 : 1.5rem;
$font-size-h2 : 1.2rem;
$font-size-h3 : 1rem;
$font-size-p : 0.5rem;

$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;
$backgroundGris : #F6F6F6;;
$backgroundGrisFonce : #EAEAEA;
$backgroundFooter: #3D413F;

$colorButton : #eb000098;

