@import "./base/normalize";
@import "./utils/variables";
@import "./utils/mixins";
@import "./font-awesome/fontawesome.scss";

body {
  font-family: $fontFamily;
  box-sizing: border-box;
  min-height: 100vh;

  #page-accueil-container {
    max-width: 667px;
    margin: 0 auto;
    display: flex;
    
  }
}

header {
  width: 100%;
  margin-top: 15px;

  .top-header {
    display: flex;

          .fa-arrow-left {
        padding: 15px;

        .logo-ohmyfood {
          text-align: center;
          font-family: $fontFamilyTitres;
        
      }
    }
  }
}

  .photo-card-restaurant{
    display: flex;
  }

  .photo-card-restaurant img{
    height: 200px;
    width: 100%;
  object-fit: cover;
  }

  main{
  background-color: $backgroundGris
}

.header-bloc-menus{
  display: flex
}



.card-texte-prix{
  display: flex;
}

.prix{
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}


@include nomRestaurant;
@include titreH2Menu;
@include cardEntrees;
@include cardPlats;
@include cardDesserts;
@include cardTextePrix;
@include boutonCommander;
@include footer;