@mixin nomRestaurant() {
  .nom-restaurant {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
    
  }
}



@mixin footer {
  footer {
    background-color: #353535;
  }

  .contenu-footer {
    color: white;
    padding-top: 10px;
    margin-bottom: 2px;

    .logo-ohmyfood {
      padding-left: 20px;
      font-family: $fontFamilyLogo;

      .logo-ohmyfood h3 {
        margin-bottom: 0;
      }
    }
  }

  .nav-footer {
    display: flex;
  }

  .liste-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
  }

  li.fas.fa-utensils::before {
    padding-right: 10px;
  }

  li.fas.fa-handshake::before {
    padding-right: 4px;
  }

  li a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
  }
}

@mixin boutonCommander() {
  .button-commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button-commander input {
    background: linear-gradient(#ff7edb, #9356dc);
    color: white;
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin: 20px 40px;
    font-weight: 800;
    box-shadow: 3px 3px 3px 0px #c7c7c7ff;
  }

  .button-commander input:hover {
    opacity: 0.6;
  }
}

@mixin titreH2Menu() {
  .titre-h2 {
    margin-left: 25px;
    border-bottom: 7px solid $tertiary;
    width: 40px;
   border-radius: 5px;
  }
}

@mixin cardEntrees() {
  .card-entrees {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    border-radius: 20px;
    padding: 1px 20px 0 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 0 #e2e2e2;
    width: 95%;
    overflow: hidden; 
     }

    .card-entrees .texte h3 {
          font-size: 20px;
    }
  }



 

@mixin cardPlats() {

  .card-plats {
   display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    border-radius: 20px;
    padding: 1px 20px 0 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 0 #e2e2e2;
    width: 95%;
    overflow: hidden;

    }

    .card-plats .texte h3 {
          font-size: 20px;
  }
}

@mixin cardDesserts() {

  .card-desserts {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: white;
    border-radius: 20px;
    padding: 1px 20px 0 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 0 #e2e2e2;
    width: 95%;
    overflow: hidden;
    }

    .card-desserts .texte h3 {
          font-size: 20px;
  
  
  }
}

@mixin cardTextePrix {
  .texte-prix {
    display: flex;
    width: 100%;   
    margin: 25px; 
  }

  .texte {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .texte h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px; 
     } 

  .texte p {
    margin-top: 8px;
    margin-bottom: 0;
    width: 90%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .prix {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin: 0 25px 0 5px;
    
  }
  
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #99E2D0;
    right: 0;
    width: 80px;
    height: 110px;
    color: #FFF;
    
}
}

@mixin slideDown {
  .liste-entrees .slideDown, .liste-plats .slideDown, .liste-desserts .slideDown {
transition: 6s;
animation: slideDown 4s;
animation-fill-mode: both; 

@keyframes slideDown {
0% {
transform: translateY(0);
opacity: 0;
}
100% {
transform: translateY-(-200);
opacity: 1;
}
}
}
}

@mixin liens() {
  a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1rem ;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
  }
}


