$fontFamily: Roboto, Arial, Helvetica, sans-serif;
$fontFamilyLogo: Shrikhand;

$font-size-h1: 1.5rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.28571429rem;
$font-size-p: 16px;

$primary: rgb(147, 86, 220);
$secondary: rgb(255, 121, 218);
$tertiary: rgb(153, 226, 208);
$backgroundGris: #f6f6f6;
$backgroundGrisFonce: #eaeaeaff;
$backgroundFooter: #3d413f;
$backgroundSpinner: rgba(255, 255, 255, 0.863);

$colorButton: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
$colorRed: rgb(255, 0, 0);
$colorBlue: rgb(0, 0, 255);
$colorMauve: rgb(128, 0, 128);
$colorBrique: rgb(178, 34, 34);
$colorCrimson: rgb(220, 20, 60);
$colorFuschia: rgb(255, 0, 255);
$colorIndianRed: rgb(205, 92, 92);
$colorHoverCoeur: rgb(218, 15, 218, 0.8);
$colorWhite: rgb(250, 250, 250);
$colorBlack: rgb(0, 0, 0);
